<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bitsy Drone Services</title>
    <meta name="description" content="Responsive Multi-Purpose HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#222222">
    <!-- Android 5.0 Tab Color -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <!--<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>-->

    <!-- Icon Fonts CSS -->
    <link rel="stylesheet" href="/static/css/knight-iconfont.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/reset.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/static/css/jquery.fs.shifter.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/video-js.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/settings.css">
    <link rel="stylesheet" href="/static/css/animate.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/shortcodes.css">
    <link rel="stylesheet" href="/static/css/custom-bg.css">
    <link rel="stylesheet" href="/static/css/bigvideo.css">
     <link rel="stylesheet" href="/static/css/jquery-video-lightning.css">
{#    <link rel="stylesheet" href="/static/css/skin.css">#}
    <link href="http://vjs.zencdn.net/5.0.0/video-js.css" rel="stylesheet">
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/redmond/jquery-ui.css" rel="stylesheet" />


    <!-- JS -->
    <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body class="shifter shifter-left offcanvas-menu-left offcanvas-menu-dark mobile-header-style2 sticky-header sticky-dark">
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<!-- mobile-header-wrapper -->
<div class="mobile-header-wrapper style2 shifter-header dark-bg clearfix hidden-md hidden-lg">
    <div class="shifter-handle style1">
        <a href="#" class="bars">
            <span></span>
            <span></span>
            <span></span>
        </a><!-- /bars -->
    </div>
    <!-- /menu-trigger -->
    <div class="logo-container">
        <a href="index-2.html" class="logo">
            <img src="http://puu.sh/kDbGK/37e6be702e.png" alt="Logo">
        </a>
    </div>
    <!-- /logo-container -->

</div>
<!-- /mobile-header-wrapper -->

<!-- OFF CANVAS MOBILE MENU -->
<nav class="main-nav offcanvas-menu mobile-nav shifter-navigation fullwidth-items fullwidth-menu white-bg">

</nav>

<div class="main-wrapper shifter-page">

    <!-- Start main-header -->
    <header class="main-header style3 transparent-menu overlay-header">
        <div class="main-header-inner">
            <div class="main-bar padding-35 transparent-bg">
                <div class="menu-container clearfix">
                    <div class="container">
                        <div class="row">
                            <nav class="main-nav style1 active-style1 left-menu col-md-5" id="main-nav" >
                                <ul class="clearfix">
                                    <li class="dropdown mega-menu full-width active" >
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="coolor: black;">Home</a>

                                    </li>
                                    <li class="dropdown mega-menu multi-column">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#services">Services</a>

                                    </li>

                                </ul>
                            </nav>
                            <div class="logo-container col-md-2">
                                <a href="/" class="logo">
                                    <img src="http://puu.sh/kDbGK/37e6be702e.png" alt="Logo">
                                </a>
                            </div>
                            <!-- /logo-container -->
                            <nav class="main-nav style1 active-style1 right-menu col-md-5">
                                <ul class="clearfix">
                                    <li class="dropdown mega-menu full-width">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#portfolio">Our Works</a>

                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#contact">Contact</a>

                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /container -->
                </div>
                <!-- /menu-container -->
            </div>
            <!-- /main-bar -->
        </div>
        <!-- /main-header-inner -->
        <div class="tp-wrapper">
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <p>&nbsp;</p>
 <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="align-center">
                                    <div class="empty-space230"></div>
                                    <h6 class="heading-alt-style15 white-color wow fadeInDown">Bitsy Drone Services</h6>
                                    <div class="empty-space10"></div>
                                    <h1 class="white-color wow fadeInDown">TAKE YOUR MARKETING TO NEW HEIGHTS</h1>
                                    <div class="empty-space40"></div>
                                    <a href="#services" class="button button-large red-bg borderless wow fadeInDown animated-icon-style1"><span>Discover Now</span> <i class="fa fa-long-arrow-right"></i></a>
                                </div><!-- /align-center -->
                            </div><!-- /col-md-12 -->
                        </div><!-- /row -->
                    </div><!-- /container -->
                    <ul>
                        <!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                            <img src="" alt="Background">

                            <div class="tp-caption tp-resizeme sft fadeout white-color"
                                 data-x="center"
                                 data-y="center"
                                 data-voffset="-70"
                                 data-speed="1000"
                                 data-start="1000"
                                 data-easing="Power4.easeOut"><h6 class="heading-alt-style15"></h6>
                            </div>
                            <div class="tp-caption tp-resizeme sfb  fadeout white-color"
                                 data-x="center"
                                 data-y="center"
                                 data-voffset="30"
                                 data-speed="1000"
                                 data-start="1800"
                                 data-easing="Power4.easeOut"><h1></h1>
                            </div>
                            <div class="tp-caption tp-resizeme sfb  fadeout white-color"
                                 data-x="center"
                                 data-y="center"
                                 data-voffset="120"
                                 data-speed="1000"
                                 data-start="1800"
                                 data-easing="Power4.easeOut"><h1></h1>
                            </div>
                            <div class="tp-caption tp-resizeme sfb  fadeout white-color"
                                 data-x="center"
                                 data-y="center"
                                 data-voffset="250"
                                 data-speed="1000"
                                 data-start="2000"
                                 data-easing="Power4.easeOut">
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="1500">
                            <img src="" alt="Background">

                            <div class="tp-caption tp-resizeme sft fadeout white-color"
                                 data-x="center"
                                 data-y="center"
                                 data-voffset="-70"
                                 data-speed="1000"
                                 data-start="1000"
                                 data-easing="Power4.easeOut"><h6 class="heading-alt-style15"></h6>
                            </div>
                            <div class="tp-caption tp-resizeme sfb  fadeout white-color"
                                 data-x="center"
                                 data-y="center"
                                 data-voffset="30"
                                 data-speed="1000"
                                 data-start="1800"
                                 data-easing="Power4.easeOut"><h1></h1>
                            </div>
                            <div class="tp-caption tp-resizeme sfb  fadeout white-color"
                                 data-x="center"
                                 data-y="center"
                                 data-voffset="120"
                                 data-speed="1000"
                                 data-start="1800"
                                 data-easing="Power4.easeOut"><h1></h1>
                            </div>
                            <div class="tp-caption tp-resizeme sfb  fadeout white-color"
                                 data-x="center"
                                 data-y="center"
                                 data-voffset="250"
                                 data-speed="1000"
                                 data-start="2000"
                                 data-easing="Power4.easeOut">
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /tp-banner -->
            </div>
            <!-- /tp-banner-container -->
        </div>
        <!-- /tp-wrapper -->
    </header>
    <!-- End main-header -->
    <p>&nbsp;</p>
    <!-- Start main-contents -->
    <section class="main-contents milky-white-bg padding-top80" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 margin-bottom25">
                    <header class="section-title align-center">
                        <h1>Our Services</h1>

                    </header>
                </div>
                <!-- /col-md-8 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
        <div class="fullwidth-section row">
            <div class="col-md-4 wow fadeIn">
                <div class="interactive-banner interactive-banner-style2">
                    <figure>
                        <img src="/static/img/misc/x1.png" alt="Knight interactive Banner">
                    </figure>
                    <div class="details">
                        <h6 class="heading-alt-style9">Aerial Video & Photographs</h6>

                        <p> From action cams to cinematic &
                            drone based cameras; Bitsy has the
                            video/photo equipment necessary to
                            get interesting and beautiful footage
                            for any of our customer's needs.</p>
                    </div>
                    <!-- /details -->
                </div>
                <!-- /interactive-banner -->
            </div>
            <!-- /col-md-3 -->
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="interactive-banner interactive-banner-style2">
                    <figure>
                        <img src="/static/img/misc/x2.png" alt="Knight interactive Banner">
                    </figure>
                    <div class="details">
                        <h6 class="heading-alt-style9">Video Editing (Aerial/Ground)</h6>

                        <p>Bitsy has a skilled team with plenty of
                            professional video production under
                            their belts. Whatever your needs may
                            be; Bitsy is capable of executing
                            anything you have dreamt up. Or they
                            will dream it up for you. </p>
                    </div>
                    <!-- /details -->
                </div>
                <!-- /interactive-banner -->
            </div>
            <!-- /col-md-3 -->
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                <div class="interactive-banner interactive-banner-style2">
                    <figure>
                        <img src="/static/img/misc/x3.png" alt="Knight interactive Banner">
                    </figure>
                    <div class="details">
                        <h6 class="heading-alt-style9">Survey & Inspection Services</h6>

                        <p> Bitsy is capable of surveying &
                            inspecting hard to access locations
                            with the help of our drones. From
                            inspecting buildings and properties to
                            surveying large pieces of property,
                            Bitsy is capable of supporting you.</p>
                    </div>
                    <!-- /details -->
                </div>
                <!-- /interactive-banner -->
            </div>
            <!-- /col-md-3 -->
        </div>
        <div class="fullwidth-section row">
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.9s">
                <div class="interactive-banner interactive-banner-style2">
                    <figure>
                        <img src="/static/img/misc/y1.png" alt="Knight interactive Banner">
                    </figure>
                    <div class="details">
                        <h6 class="heading-alt-style9">Asset Inspection</h6>

                        <p>Reduce the cost of inspections through the use of Bitsy's drones. We will enable you to make
                            quick and efficient first pass inspections to identify issues. We provide on-site live video
                            feeds, recorded HD, and we are able to stream drone video feeds in real time.</p>
                    </div>
                    <!-- /details -->
                </div>
                <!-- /interactive-banner -->
            </div>
            <!-- /col-md-3 -->
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.9s">
                <div class="interactive-banner interactive-banner-style2">
                    <figure>
                        <img src="/static/img/misc/y2.png" alt="Knight interactive Banner">
                    </figure>
                    <div class="details">
                        <h6 class="heading-alt-style9">Construction Reporting</h6>

                        <p>Track project milestones, contractor progress, and the overall picture of a construction
                            project over time through the use of our aerial video & photo capabilities. We are able to
                            provide weekly/monthly construction reports using photographs or video.</p>
                    </div>
                    <!-- /details -->
                </div>
                <!-- /interactive-banner -->
            </div>
            <!-- /col-md-3 -->
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.9s">
                <div class="interactive-banner interactive-banner-style2">
                    <figure>
                        <img src="/static/img/misc/y3.png" alt="Knight interactive Banner">
                    </figure>
                    <div class="details">
                        <h6 class="heading-alt-style9">Aerial Survey + 3D Mapping</h6>

                        <p>Bitsy is capable of aerial surveys with GPS coordinates via drone based photo and/or video.
                            Want to take it further with a 3D map of the area? Not a problem, we offer 3D mapping &
                            volumetric calculations using our drone's on board hardware and photogrammetry software.</p>
                    </div>
                    <!-- /details -->
                </div>
                <!-- /interactive-banner -->
            </div>
            <!-- /col-md-3 -->
        </div>
        <!-- /row -->
    </section>
    <!-- End main-contents -->

    {#                        <!-- Start main-contents -->#}
    {#            <section class="main-contents">#}
    {#                <div class="portfolio-container portfolio-fullwidth no-gap columns3">#}
    {##}
    {#                    <div class="container">#}
    {#                        <div class="row padding-top100 padding-bottom80">#}
    {#                            <div class="col-md-4">#}
    {#                                <header class="section-title section-title-style1">#}
    {#                                    <h4>Portfolio</h4>#}
    {#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut dignissimos ea est, </p>#}
    {#                                </header>#}
    {#                            </div><!-- /col-md-4 -->#}
    {#                            <div class="col-md-8">#}
    {#                                <div class="portfolio-filter-container margin-top25 clearfix">#}
    {#                                    <ul class="pull-right">#}
    {#                                        <li class="portfolio-filter active" data-filter="*"><span>All</span></li>#}
    {#                                        <li class="portfolio-filter" data-filter=".as"><span>Arial Surveying</span></li>#}
    {#                                        <li class="portfolio-filter" data-filter=".er"><span>Event Recording</span></li>#}
    {#                                        <li class="portfolio-filter" data-filter=".dp"><span>Drone Photography</span></li>#}
    {#                                        <li class="portfolio-filter" data-filter=".3d"><span>3D Renders</span></li>#}
    {#                                    </ul>#}
    {#                                </div>#}
    {#                            </div><!-- /col-md-5 -->#}
    {#                        </div><!-- /row -->#}
    {#                    </div><!-- /container -->#}


    <!-- Start main-contents -->
    <section class="main-contents"  id="portfolio">
        <div class="portfolio-container portfolio-fullwidth columns2">

            <div class="container">
                <div class="row padding-top100 padding-bottom80">
                    <div align="center">
                        <header class="section-title section-title-style1">
                            <h1>Portfolio</h1>
                        </header>
                    </div>
                    <!-- /col-md-4 -->
                    {#                            <div class="col-md-8">#}
                    {#                                <div class="portfolio-filter-container margin-top25 clearfix">#}
                    {#                                    <ul class="pull-right">#}
                    {#                                        <li class="portfolio-filter active" data-filter="*"><span>All</span></li>#}
                    {#                                        <li class="portfolio-filter" data-filter=".web-design"><span>Web Design</span></li>#}
                    {#                                        <li class="portfolio-filter" data-filter=".branding"><span>Branding</span></li>#}
                    {#                                        <li class="portfolio-filter" data-filter=".photography"><span>Photography</span></li>#}
                    {#                                        <li class="portfolio-filter" data-filter=".illustrator"><span>Illustrator</span></li>#}
                    {#                                    </ul>#}
                    {#                                </div>#}
                    {#                            </div><!-- /col-md-5 -->#}
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->

            <div class="portfolio-item-wrapper portfolio-item-wrapper-style2 row">
                <div class="portfolio-item-container col-md-6 web-design">
                    <div class="portfolio-item">
                        <figure>
                            <a class="youtube" href="https://www.youtube.com/watch?v=Ip0BtIUzItg" > <img src="http://puu.sh/kEE9y/cc7570ca78.png" alt="Portfolio"></a>
                        </figure>
                        <div class="portfolio-item-details">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <h6 class="heading-alt-style14 portfolio-item-name"></h6>
                                    <h4>Hall Office Park</h4>
                                </div>

                                <!-- /col-md-9 -->
                                <div class="col-md-4 col-sm-4">
                                    <div class="">

                                    </div>
                                    <!-- /overlay -->
                                </div>
                                <!-- /col-md-3 -->
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /portfolio-item-details -->
                    </div>
                    <!-- /portfolio-item -->
                </div>
                <!-- /col-md-6 -->
                <div class="portfolio-item-container col-md-6 web-design">
                    <div class="portfolio-item">
                        <figure>
                           <a class="youtube"  href="https://www.youtube.com/watch?v=5Y82ia3xSpU" > <img src="http://puu.sh/kEEei/3216bb23aa.png" alt="Portfolio"></a>
                        </figure>
                        <div class="portfolio-item-details">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <h6 class="heading-alt-style14 portfolio-item-name"></h6>
                                    <h4>6513 Lorraine Park</h4>
                                </div>
                                <!-- /col-md-9 -->
                                <div class="col-md-4 col-sm-4">
                                    <div class="">


                                    </div>
                                    <!-- /overlay -->
                                </div>
                                <!-- /col-md-3 -->
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /portfolio-item-details -->
                    </div>
                    <!-- /portfolio-item -->
                </div>
                <!-- /col-md-6 -->

            </div>
            <!-- /portfolio-item-wrapper -->
        </div>
        <!-- /portfolio-container -->
        <div align="center">
<a href="https://vimeo.com/user44701105/videos" target="_blank"><button class="btn btn-block btn-danger btn-lg">View More</button></a>
            </div>
        <!-- /expandable-section -->
    </section>

    <!-- End main-contents -->


    <!-- Start main-contents -->
    <section class="main-contents small-padding smocky-white-bg"  id="team">
        <div class="container">
            <p>&nbsp;</p>

            <div class="col-md-8 col-md-offset-2 margin-bottom30">
                <header class="section-title align-center">
                    <h1>Meet the Team</h1>

                </header>
            </div>
            <!-- /col-md-8 -->
        </div>
        <!-- /row -->

        <div class="row">
            <div class="col-md-3 col-sm-6 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">

            </div>
            <!-- /col-md-3 -->
            <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-delay="0.3s"
                 style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="team team-style2">
                    <figure class="member-image">
                        <img src="http://puu.sh/kDCtS/46c8f91583.jpg" alt="Team Member">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </figure>
                    <h6 class="member-name">Doug Depker</h6>

                    <p class="member-job">CO-OWNER & OPERATIONS</p>

                    <p class="member-bio">Doug is a long time drone and video editting enthusiast. He began making
                        videos of friend/family trips and eventually got in to editting marketing videos professionally.
                        He has been building & flying drones for many years, so Bitsy became a natural fit with the
                        recent wave of drone platforms and technology. Doug attended Arizona State Univeristy for a
                        bachelors in Business Admin. He worked in the supply chain industry for 9 years out of college,
                        but eventually found himself longing to work in a field he was passionate about , which led him
                        to drone and video production services via Bitsy Drone Services.</p>
                </div>
                <!-- /team -->
            </div>
            <!-- /col-md-3 -->
            <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-delay="0.6s"
                 style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <div class="team team-style2">
                    <figure class="member-image">
                        <img src="http://puu.sh/kDCuM/fd4c0368a7.png" alt="Team Member">
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </figure>
                    <h6 class="member-name">Joe Hoffmans</h6>

                    <p class="member-job">CO-OWNER & BUSSINES DEVELOPMENT</p>

                    <p class="member-bio">Joe graduated from the University of Houston with a degree in Business
                        Management. He has been working in the Logistics/Freight industry for the last 8 years in
                        supervisory and sales roles. Joe has been fascinated by drones over the last 5 years and wanted
                        to be a part of how they will change the future of a lot of industries/services. He has spent
                        time creating videos and performing services using drones which led him to help create Bitsy
                        Drone Services.</p>
                </div>
                <!-- /team -->
            </div>
            <!-- /col-md-3 -->
            <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-delay="0.9s"
                 style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">

            </div>
            <!-- /col-md-3 -->
        </div>
        <!-- /row -->

    </section>
</div>
<!-- /container -->

<!-- End main-contents -->

<!-- Start main-contents -->
<section class="main-contents resturant-bg1 parallax padding-top190 padding-bottom200"  id="services"
         data-stellar-background-ratio="0.5" data-stellar-vertical-offset="500">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <blockquote class="blockquote-style1" style="color:black;">
                    <p>“PERFECTION IS ACHIEVED, NOT WHENTHERE IS NOTHING MORE TO ADD, BUT WHENTHERE IS NOTHING LEFT TO
                        TAKE AWAY.”</p>
                    <cite>ANTOINE DE SAINT-EXUPÉRY</cite>
                </blockquote>
            </div>
            <!-- /col-md-12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!-- End main-contents -->


<!-- Start main-footer -->
<footer class="main-footer padding-top80 white-bg"  id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 margin-bottom45">
                <header class="section-title section-title-style5 align-center">
                    <h1>Request a Quote</h1>

                </header>
            </div>
            <!-- /col-md-8 -->
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-md-3">
                <div class="widget widget-contact-info widget-contact-info-style1">
                    <address>

                        <div class="empty-space38"></div>
                        <p class="clearfix">
                            <i class="icon icon-knight-284"></i><span>PHONE: (281) 323-2395</span>
                        </p>


                        <p class="clearfix">
                            <i class="icon icon-knight-365"></i><span>EMAIL: <a href="mailto:joehoffmans@bitsydroneservices.com">joehoffmans@bitsydroneservices.com</a></span>
                        </p>
                        </p>
                    </address>
                </div>
                <!-- /widget-contact-info -->
            </div>
            <!-- /col-md-3 -->
            <div class="sm-empty-space35"></div>
            <div class="col-md-8 col-md-offset-1">
                <div class="widget widget-contact-form widget-contact-form-style1">
                    <form action="#" class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="contact-form-name" name="name" id="name" placeholder="Name"
                                       required>
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="contact-form-email" name="email" id="email"
                                       placeholder="Email" required>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="contact-form-subject" name="subject" id="subject"
                                       placeholder="Subject">
                            </div>
                            <div class="col-md-12">
                                <textarea class="contact-form-message" name="message" cols="90" rows="10"
                                          placeholder="Content" required></textarea>
                            </div>
                            <input type="submit" class="red-bg form-submit" name="form-submit" value="Submit">
                        </div>
                        <!-- /row -->
                    </form>
                    <div class="contact-form-message"></div>
                </div>
                <!-- /widget-contact-form -->
            </div>
            <!-- /col-md-8 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <div class="footer-bottom-bar margin-top60 clearfix dark-bg">
        <div class="container">
            <div class="socials-container">
                <p class="uppercase">Social Networks:</p>

                <div class="widget widget-socials widget-socials-big">
                    <ul class="clearfix">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <!-- /widget-socials -->
            </div>
            <!-- /socials-container -->
            <p class="copyright uppercase">© 2015 Bitsy Drone Services</p>
        </div>
        <!-- /container -->
    </div>
    <!-- /footer-bottom-bar margin-top120 -->
</footer>
<!-- End main-footer -->

</div><!-- /main-wrapper -->

<!-- JS -->
<script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/jquery.themepunch.tools.min.js"></script>
<script src="/static/js/jquery.themepunch.revolution.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/jquery.fs.shifter.min.js"></script>
<script src="/static/js/jquery.stellar.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/isotope.pkgd.min.js"></script>
<script src="/static/js/jquery.countTo.js"></script>
<script src="/static/js/jquery.appear.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<script src="/static/js/tweetie.min.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/video.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/jquery.scrollto.js"></script>

<script src="http://vjs.zencdn.net/5.0.0/video.js"></script>
<script src="/static/js/bigvideo.js"></script>
<script src="/static/js/jquery-video-lightning.js"></script>
<script src="/static/js/videobox.js"></script>

{#<script src="/static/js/all_in_one_libs.min.js"></script>#}
{#<script src="/static/js/jquery.dlmenu.js"></script>#}
{##}
{#<script src="/static/js/front.js"></script>#}

<script type="text/javascript">

    $(function () {
        var BV = new $.BigVideo({container: $('.tp-banner')});
        BV.init();
        BV.show('/static/media/msv.mp4', {ambient: true});
        BV.getPlayer().volume(0)
    });
</script>

<script>
$(function () {
	$("a.youtube").YouTubePopup({ autoplay: 1, draggable: true, 'hd': 1 });

});
</script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.tp-banner').revolution(
                {
                    delay: 9000,
                    startwidth: 1170,
                    startheight: 670,
                    fullScreen: 'on',
                    navigationType: 'none',
                    navigationArrows: 'none',
                    navigationStyle: 'knight-1',
                    hideTimerBar: 'on',
                    soloArrowRightVOffset: 100,
                    soloArrowLeftVOffset: 100
                });
    });
</script>


<script>
        $("nav a").click(function(evn){
        evn.preventDefault();
        $('html,body').scrollTo(this.hash, this.hash);
    });

</script>

</body>

</html>
